public net.minecraft.client.renderer.entity.layers.HumanoidArmorLayer f_117070_ # ARMOR_LOCATION_CACHE
protected net.minecraft.client.particle.BreakingItemParticle <init>(Lnet/minecraft/client/multiplayer/ClientLevel;DDDDDDLnet/minecraft/world/item/ItemStack;)V
# Allow overriding the name in the recipe provider
public-f net.minecraft.data.recipes.RecipeProvider m_6055_()Ljava/lang/String; # getName
protected net.minecraft.world.entity.LivingEntity m_21319_()Ljava/util/Map; # collectEquipmentChanges
protected net.minecraft.world.entity.LivingEntity m_21244_(Lnet/minecraft/world/entity/EquipmentSlot;)Lnet/minecraft/world/item/ItemStack; # getLastHandItem
protected net.minecraft.world.entity.LivingEntity m_21198_(Lnet/minecraft/world/entity/EquipmentSlot;)Lnet/minecraft/world/item/ItemStack; # getLastArmorItem
